* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Gontserrat Light";
  src: url(./fonts/Gontserrat-Light.ttf);
}

@font-face {
  font-family: "Gontserrat Regular";
  src: url(./fonts/Gontserrat-Regular.ttf);
}

:root {
  --font-size-header: 3rem;
  --font-size-body: 1.2rem;
  --font-regular: "Gontserrat Regular";
  --font-light: "Gontserrat Light";
  --text-field-width: 40rem;
  --button-bg: #fbf7f0;
  --button-border-radius: 8px;
  --box-shadow-color: #555555;
}

body {
  background: #d9e4dd;
}

header {
  background-color: #ff4b5c;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45vh;
}

h1 {
  text-align: center;
  color: white;
  font-size: var(--font-size-header);
  margin: 2.5rem 0 3rem;
  font-family: var(--font-regular);
  text-shadow: 2px 3px rgba(0, 0, 0, 0.5);
}

.link-field {
  padding: 0.3em;
  width: var(--text-field-width);
  font-size: var(--font-size-body);
  font-family: var(--font-light);
}

.get-video-btn {
  border: 0;
  cursor: pointer;
  margin-top: 2.8rem;
  padding: 0.5em;
  background-color: var(--button-bg);
  border-radius: var(--button-border-radius);
  font-size: var(--font-size-body);
  font-family: var(--font-regular);
}

main {
  padding: 1px;
}

.videos {
  width: 95%;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.more {
  display: block;
  margin: 0 auto 3rem;
  border-radius: var(--button-border-radius);
  font-family: var(--font-regular);
  background-color: var(--button-bg);
  font-size: 1.5rem;
  padding: 0.3em 1em;
  cursor: pointer;
  border: 3px solid #555555;
  transition: box-shadow 0.3s;
  display: none;
}

.more:hover {
  box-shadow: 2.5px 2.2px 1px var(--box-shadow-color);
}
