* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Gontserrat Light";
  src: url(./fonts/Gontserrat-Light.ttf);
}

@font-face {
  font-family: "Gontserrat Regular";
  src: url(./fonts/Gontserrat-Regular.ttf);
}

:root {
  --font-size-header: 3rem;
  --font-size-body: 1.2rem;
  --font-regular: "Gontserrat Regular", sans-serif;
  --font-light: "Gontserrat Light", sans-serif;
  --text-field-width: 40rem;
  --button-bg: #fbf7f0;
  --button-border-radius: 8px;
  --box-shadow-color: #555555;
}

body {
  background: #d9e4dd;
}
/******************************* Header *******************************/
header {
  background-color: #ff4b5c;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45vh;
}

h1 {
  text-align: center;
  color: white;
  font-size: var(--font-size-header);
  margin: 2.5rem 0 3rem;
  font-family: var(--font-regular);
  text-shadow: 2px 3px rgba(0, 0, 0, 0.5);
}

.link-field {
  padding: 0.3em;
  width: var(--text-field-width);
  font-size: var(--font-size-body);
  font-family: var(--font-light);
}

.get-video-btn {
  display: block;
  border: 0;
  cursor: pointer;
  margin: 2.8rem auto 0;
  padding: 0.5em;
  background-color: var(--button-bg);
  border-radius: var(--button-border-radius);
  font-size: var(--font-size-body);
  font-family: var(--font-regular);
}

/******************************* Main *******************************/
main {
  padding: 1px;
}

.videos {
  width: 95%;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px;
  row-gap: 60px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  transition: all 0.3s;
}

.videoWrapper.scale-video {
  margin: 3rem auto;
  padding-bottom: 45%;
  width: 80vw;
}

.videoWrapper.remove-video {
  transform: scale(0.3);
  opacity: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  transition: all 0.3s;
}

.videoWrapper p {
  font-family: var(--font-light);
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.more {
  display: block;
  margin: 0 auto 3rem;
  border-radius: var(--button-border-radius);
  font-family: var(--font-regular);
  background-color: var(--button-bg);
  font-size: 1.5rem;
  padding: 0.3em 1em;
  cursor: pointer;
  border: 3px solid #555555;
  transition: box-shadow 0.3s;
  display: none;
}

.more:hover {
  box-shadow: 2.5px 2.2px 1px var(--box-shadow-color);
}

/******************************* 404-Error *******************************/
.error-404-container,
.error-403-container {
  position: fixed;
  top: 2rem;
  left: 0;
  width: 100%;
  transform: translateY(-200%);
  transition: transform 0.5s;
}
.error-404 {
  position: relative;
  width: 65%;
  margin: auto;
  padding: 3em 2em 0.6em;
  background-color: #214252;
  color: white;
  font-family: var(--font-light);
  border-radius: var(--button-border-radius);
  overflow-wrap: break-word;
}

.error-404 p {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.error-404 .continue-next-link {
  margin-top: 1rem;
  font-size: 1rem;
}

.error-404-container.open,
.error-403-container.open {
  transform: translateY(10%);
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 0;
  background-color: #ff4b5c;
  color: white;
  padding: 0.2em 0.5em;
  border-radius: calc(var(--button-border-radius) - 4px);
  cursor: pointer;
  font-size: 1rem;
}

.remove,
.scale {
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  border: none;
  position: absolute;
  cursor: pointer;
}

.remove {
  background: url(./images/close.svg);
  top: -1.5rem;
  right: 0;
}

.scale {
  background: url(./images/scale-screen.svg);
  top: -1.5rem;
  right: 2rem;
}
