.error-404-container,
.error-403-container,
.info {
  position: fixed;
  top: 2rem;
  left: 0;
  width: 100%;
  transform: translateY(-200%);
  transition: transform 0.5s;
}

.show-info {
  cursor: pointer;
  position: fixed;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--button-bg);
}

.info a {
  color: #fff;
}

.error-404 {
  position: relative;
  width: 65%;
  max-height: 85vh;
  margin: auto;
  padding: 3em 2em 0.6em;
  background-color: #214252;
  color: white;
  font-family: var(--font-light);
  border-radius: var(--button-border-radius);
  overflow: auto;
  overflow-wrap: break-word;
}

.error-404 p {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.error-404 .continue-next-link {
  margin-top: 1rem;
  font-size: 1rem;
}

.error-404-container.open,
.error-403-container.open,
.info.open {
  transform: translateY(1%);
}

.invalid-link,
.duplicate-link {
  padding: 0 1.3em;
}

.invalid-link > li,
.duplicate-link > li {
  line-height: 1.5rem;
}

.duplicate-links {
  margin-top: 0.5rem;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 0;
  background-color: #ff4b5c;
  color: white;
  padding: 0.2em 0.5em;
  border-radius: calc(var(--button-border-radius) - 4px);
  cursor: pointer;
  font-size: 1rem;
}
